/* App.css */

.App {
  text-align: center;
  
}

.App-header {
  background-color: #666;
  padding: 20px;
}

.App-header h1 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

.App-header p {
  font-size: 1.2rem;
  color: #666;
}

.App-footer {
  background-color: #666;
  padding: 20px;
  font-size: 0.9rem;
}

.App-footer img {
  width: 50px;
  margin: 0 10px;
}


@media (max-width: 768px) {
  .App {
    text-align: center;
  }
}